# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example

# Scratch and Temp files
extracted_css_raw.txt
original_module5_styles.css
scratch_inspect.py
__pycache__/
*.pyc

# Books, PYQs, and Modules
*.pdf
modules/
